#login {
  text-decoration: none;
}

#BlueBtn {
  border: 2px solid var(--ssp_text);

  padding: 4.84px 8.8px;

  width: max-content;

  text-decoration: none;
 
  cursor: pointer;
  user-select: none;
}
  #BlueBtn__text {
    position: relative;
    top: 2px;

    font-family: var(--stg);
    font-size: 22px;
  
    text-decoration: none;
  
    color: var(--ssp_text);

    cursor: pointer;
  }

  #BlueBtn:hover {
    transition: 0.4s;
    border-color: var(--dssp_text);
  }
    #BlueBtn:hover #BlueBtn__text {
      transition: 0.4s;
      color: var(--dssp_text);
    }